[submodule "Inc/Hardware_Interface/c_library_v2"]
	path = Inc/Hardware_Interface/third_party/c_library_v2
	url = https://github.com/mavlink/c_library_v2.git
[submodule "AeroLib/AeroRTOS/Lib_AeroRTOS"]
	path = AeroLib/AeroRTOS/Lib_AeroRTOS
	url = https://github.com/ShayanEram/LIB_AeroRTOS.git
